# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
.wheel/
*.egg-info/
*.egg

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
coverage.xml
*.cover
*.py,cover

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyenv
.python-version

# Local environment variables
.env
.env.local
.env.*.local

# Other
*.DS_Store
*.swp

